{% extends "base.html" %}
{% block title %}Lista de Compras{% endblock title %}
{% block content %}
<h1>Lista de Compras</h1>
<hr>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td>{{ compra.data_compra|date:"d/m"}}</td>
                <td>{{ compra.produto }}</td>
                <td>{{ compra.quantidade }}</td>
                <td>R${{ compra.preco }}</td>
                <td>
                    <a href="{% url 'deletar_compra' compra.id %}">
                        <i data-feather="trash-2" class="text-danger"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhuma compra registrada ainda.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}